@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@model Sitecore.Feature.CognitiveServices.Models.ViewModels.EnableFacialRecognitionViewModel

@{
    if (Model?.SaveButtonText == null)
    {
        @Html.PageEditorInfo(Html.Sitecore().Dictionary("/CognitiveServices/EnableSitecoreHello/No DataSource", "No DataSource Set"))
        return;
    }
}

@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new
{
    @class = "form-signin"
}))
{
    @Html.AddUniqueFormId()

    string EnableFacialRecognitionButtonCssClass = Model.EnableFacialRecognition ? "hidden" : "";
    <input type="button" id="@nameof(Model.EnableFacialRecognition)" class="btn btn-primary btn-lg btn-block @EnableFacialRecognitionButtonCssClass" value="@Model.EnableFacialRecognitionLabel" />

    <div id="webcamAccessErrorSection" class="alert alert-warning" style="display: none;">
        @Model.WebcamAccessWarningLabel
    </div>

    <div id="webcamPanel" class="well-sm" style="display: none;">
        <div class="panel panel-info">
            <div class="panel-heading">@Model.TitleText</div>
            <div class="panel-body">
                <div>@Model.InformationText</div>
                <video id="player" class="center-block" width="550" height="413" autoplay></video>
                <canvas id="snapshot" class="center-block hidden" width="550" height="413"></canvas>
            </div>
        </div>

        <div class="form-group @Html.ValidationErrorFor(x => x.CapturedImage, "has-error")">
            @Html.HiddenFor(x => x.CapturedImage)
        </div>

        <input type="button" id="saveFace" class="btn btn-primary btn-lg btn-block" value="@Model.SaveButtonText" />

        <div id="saveErrorSection" class="alert alert-danger" style="display: none;">
            There was an error while saving the face. Please try again.
        </div>
    </div>

    <div id="saveSuccessSection" class="alert alert-success" style="display: none;">
        Face successfully saved. Enjoy the frictionless login!
    </div>

}