@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@model Sitecore.Feature.CognitiveServices.Models.ViewModels.EnableFacialRecognitionViewModel

@{
    if (Model?.SaveButtonText == null)
    {
        @Html.PageEditorInfo(Html.Sitecore().Dictionary("/CognitiveServices/EnableSitecoreHello/No DataSource", "No DataSource Set"))
        return;
    }
}

@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new
{
    @class = "form-signin"
}))
{
    @Html.AddUniqueFormId()

    <div class="form-group @Html.ValidationErrorFor(x => x.EnableFacialRecognition, "has-error")">
        <label for="@nameof(Model.EnableFacialRecognition)" class="control-label">@Model.EnableFacialRecognitionLabel</label>

        @Html.CheckBoxFor(x => x.EnableFacialRecognition, new
       {
           @class = "form-control",
           @placeholder = Model.EnableFacialRecognitionPlaceholderText
       })

        @Html.ValidationMessageFor(x => x.EnableFacialRecognition, "", new
       {
           @class = "help-block"
       }, "p")
    </div>


    <div id="webcamAccessErrorSection" class="alert alert-warning">
        @Model.WebcamAccessWarningLabel
    </div>
    <div id="webcamPanel" class="well-sm hidden">
        <video id="player" class="center-block" width="550" height="413" autoplay></video>
        <canvas id="snapshot" class="center-block hidden" width="550" height="413"></canvas>
    </div>

    <div class="form-group @Html.ValidationErrorFor(x => x.CapturedImage, "has-error")">
        <label class="control-label" for="@nameof(Model.CapturedImage)">@Model.WebcamLabel</label>
        @Html.HiddenFor(x => x.CapturedImage);
    </div>

    <input type="submit" id="saveFace" class="btn btn-primary btn-lg btn-block" value="@Model.SaveButtonText" />
}